* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    padding-bottom: 50px;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body {
    width: 100%;
    height: 100vh;
    background-color: #f4f5fb;
    font-family: "Inter", sans-serif;
}

main {
    max-width: 80%;
    margin: auto;
    transition: width 0.5s ease-in-out;
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    main {
        width: 50%;
        margin: 0 auto;
    }
}

p {
    color: #CA3884;
    font-size: 14px;
    font-weight: 500;
    align-self: flex-start;
}

h1 {
    font-size: 24px;
    padding-top: 14px;
    padding-bottom: 30px;
    align-self: flex-start;
}

form {
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

input {
    height: 35px;
    min-width: 10%;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    flex: 1 1 400px;
    
    background-color: #FFFFFF;
    outline: none;
    font-family: "Inter", sans-serif;
}

.container-list {
    border: 2px solid ;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.item {
    border: 2px solid blue;
    background-color: #FFFFFF;
    border-radius: 8px;
    list-style: none;
}

.item-description {
    font-size: 16px;
    color: #374151;
    font-weight: 500;
}

input:checked #checkbox {
    background-color: #CA3884;    
}

form button {
    flex: 1;
    border-radius: 8px;
    background-color: #CA3884;
    color: #FFFFFF;
    height: 35px;
    border: none;
    cursor: pointer;
    padding: 0 20px;

    font-family: "Inter", sans-serif;
    font-weight: 600;
}

#remove-button {
    background: none;
    border: none;
}

.removed-item-icon {
    background-color: black;
}

#submit-button:hover {
    background-color: #a52c6b; 
}

input:hover {
    outline: 0;
    border-color: #b9c2d0;
}

input:focus {
    border: 1.5px solid #a52c6b;
}

input::placeholder {
    color: #d1d5db;
    padding-left: 10px;
}

input:focus-within::placeholder {
    color: #080B12;
}

#checkbox {
    color: #CA3884;
    size: ;
}